<div class="landing">
    <div id="content">
        <div id="container">
           <div class="main-content">
               <div id="intro-text">
                   <h1>SAVE MORE TOGETHER</h1>
                   <h4>Kashwe has created a community-based financial model that makes saving money <br>easier and more effective by pooling your resources as a group.</h4>
               </div><!-- end #intro-text -->
           </div>
       </div><!-- end #container -->
    </div>
    <div class="how-text"><h1>How does KASHWE work?</h1></div>
    <div id="contain">
       <div id="pic-holder">
           <%= image_tag "kashinfo.png" %>
       </div>
    </div>
    </div>
    <div class="goal-text"><h1>Reach your savings goals together.</h1></div>
    <div id="contain">
       <div id="pic-holder">
           <%= image_tag "peoplegroup.png" %>
       </div>
    </div>
    <footer>
       <div id="container">

       </div>


    </footer>
</div>